[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pymongo = "*"
"pypiwin32" = {version = "*", sys_platform = "== 'win32'"}
python-dotenv = "*"
shub = "*"

[dev-packages]

[requires]
python_version = "3.7"
